<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="hello-world">
    <fieldset>
      <legend>template</legend>
      <div v-html="htmlContent"></div>
      <p>Primeiro Nome: {{firstName}}</p>
      <p>Ultimo Nome: {{lastName}}</p>
      <p>Idade: {{age}} anos</p>
      <p>{{age >= 18 ? 'Maior de idade' : 'Menor de idade'}}</p>
    </fieldset>

    <fieldset>
      <legend>methods</legend>
      <button v-on:click="incrementAge">Incrementar idade</button>
      <button @click="decrementAge">Decrementar idade</button>
    </fieldset>
    <fieldset>
      <legend>computed properties</legend>
      <!--Computed-->
      <p>Nome Completo: {{fullName}}</p>
      <!--Metodo-->
      <p>Nome Completo: {{getFullName()}}</p>
    </fieldset>
    <fieldset>
      <legend>watchers</legend>
      <label for="input-address">Endereço:</label>
      <input id="input-address" type="text" v-model="address">
    </fieldset>

    <fieldset>
      <legend>v-if</legend>
      <label for="input-grade">Nota:</label>
      <input id="input-grade" type="text" v-model="grade">
      <p v-if="grade < 60">Reprovado</p>
      <p v-else-if="grade >= 60 && grade < 98">Aprovado</p>
      <p v-else-if="grade >= 98">Aprovado com excelência</p>
      <p v-else>Valor invalido</p>
    </fieldset>

    <fieldset>
      <legend>v-show</legend>
      <button v-show="!isUserLogged" @click="isUserLogged = true">Login</button>
      <button v-show="isUserLogged" @click="isUserLogged = false">Logout</button>
    </fieldset>
    <fieldset>
      <legend>v-text</legend>
      <p>{{firstName}}</p>
      <p v-text="firstName"></p>
    </fieldset>

    <fieldset>
      <legend>v-html</legend>
      <div v-html="htmlContent"></div>
    </fieldset>

    <fieldset>
      <legend>v-once</legend>
      <p v-once>{{count}}</p>
      <p>{{count}}</p>
      <button @click="count++">Adicionar</button>
    </fieldset>

    <fieldset>
      <legend>v-for</legend>
      <h4>Marcas</h4>
      <ul>
        <li v-for="brand in carBrands">{{brand}}</li>
      </ul>

      <h4>Carros</h4>
      <ul>
        <li v-for="car in cars">{{car.name}} ({{car.brand}})</li>
      </ul>

      <h4>Carro</h4>
      <p v-for="(value, key, index) in car">{{index}} - {{key}} - {{value}}</p>
    </fieldset>

    <fieldset>
      <legend>v-bind</legend>
      <a v-bind:href="urlIgti">IGTI</a>
      <br />
      <a :href="urlIgti" :[argument]="urlIgtiDescription">IGTI</a>

    </fieldset>

    <fieldset>
      <legend>v-model</legend>
      <label for="input-firstname">Primeiro Nome:</label>
      <input id="input-firstname" type="text" v-model="firstName">
      <br />

      <label for="textarea-html">HTML: </label>
      <textarea id="textarea-html" v-model="htmlContent"></textarea>

      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{checked}}</label>
      <br />

      <input type="radio" id="one" value="Um" v-model="selectedOption">
      <label for="one">Um</label>
      <br />
      <input type="radio" id="two" value="Dois" v-model="selectedOption">
      <label for="two">Dois</label>
      <br />
      <p>Opção Escolhida: {{selectedOption}}</p>

      <select v-model="selectedCar" id="">
        <option v-for="car in cars" v-bind:value="car">
          {{car.name}} - {{car.brand}}
        </option>
      </select>
      <p>Carro Escolhido: {{selectedCar.name}} -{{selectedCar.brand}}</p>

    </fieldset>

    <fieldset>
      <legend>v-pre</legend> <!-- não compilar o arquivo v-pre -->
      <p>{{firstName}}</p>
      <p v-pre="firstName">{{firstName}}</p>
    </fieldset>

    <fieldset>
      <legend>v-cloack</legend>
      <p>{{firstName}}</p>
      <p v-cloack>{{firstName}}</p>
    </fieldset>
  </div>

  <script src="https://unpkg.com/vue@3.0.4"></script>
  <script>
    const app = {
      data() {
        return {
          htmlContent: "<p style = 'color: red; font-size: 20px'> Hello  Vue.JS!</p>",
          firstName: "Vinicius",
          lastName: "Caetano",
          age: "25",
          address: "",
          grade: 0,
          isUserLogged: false,
          count: 1,
          carBrands: ['VW', "Fiat", "Renault", "Ford"],
          cars: [{ name: "Ka", brand: "Ford" }, { name: "Palio", brand: "Fiat" }, { name: "Sandero", brand: "Renault" }],
          car: { name: "Ka", brand: "Ford", year: 2012, km: 60000 },
          urlIgti: 'https://www.igti.com.br',
          urlIgtiDescription: "clique aqui",
          argument: "title",
          checked: false,
          selectedOption: "",
          selectedCar: "",
        }
      },
      methods: {
        incrementAge() {
          this.age++;
        },
        decrementAge() {
          this.age--;
        },
        getFullName() {
          return `${this.firstName} ${this.lastName}`;
        }
      },
      computed: {
        fullName: function () {
          return `${this.firstName} ${this.lastName}`
        }
      },
      watch: {
        address: function (newValue, oldValue) {
          console.log(newValue);
          console.log(oldValue);
        }
      }
    }
    const vm = Vue.createApp(app).mount("#hello-world");
  </script>
</body>

</html>